body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

#gameCanvas {
    border: 2px solid black;
}
#gameMessage{
    display: none;
    position: absolute;
}

#score{
    position: absolute;
}